<div style="background-color: rgb(97, 179, 211);width: 100%;height: 30px;">
    <table style="width: 100%">
        <tr style="width: 100%">
            <td style="width: 20%"> <a routerLink="jobs" > jobs</a>   </td>
            <td style="width: 20%"> <a routerLink="companies"> companies</a>   </td>
            <td style="width: 20%"> <a routerLink="recuiters"> recuiters</a>   </td>
            <td style="width: 20%"> <a routerLink="Tools"> Tools</a>   </td>
            <td style="width: 20%"> <a routerLink="More"> More</a>   </td>
            
        </tr>
    </table>
</div>