<table>
  
    <tr>
      <td>
        <div>
          <table>
            <tr>Work mode:</tr>
            <tr *ngFor="let x of work">
                <td><input  value="{{x.name}}" (change)="onChange($event)" type="checkbox"></td>
                <td>{{x.name}}</td>
                
            </tr>
            <tr>experience:</tr>
            <tr *ngFor="let x of experience">
              <td><input  id="{{x.min}}" value="{{x.max}}" (change)="onChange1($event)" type="checkbox"></td>
              <td>{{x.name}}</td>
            </tr>
            <tr>salary:</tr>
            <tr *ngFor="let x of salary">
              <td><input  id="{{x.min}}" value="{{x.max}}" (change)="onChange2($event)" type="checkbox"></td>
              <td>{{x.name}}</td>
            </tr>
            <tr>education:</tr>
            <tr *ngFor="let x of education">
              <td><input  value="{{x.name}}" (change)="onChange3($event)" type="checkbox"></td>
              <td>{{x.name}}</td>
            </tr>
          </table>
        </div>
    
    </td>
    
    <td style="width:85% ; ">
    
    <div class="border">
    <table style="height:100%; width:100%;text-align:center">
      <thead style="color:rgb(133, 139, 49) ;">
        <th>Company Name</th>
        <th>Job Role</th>
        <th> Salary</th>
        <th>Location</th>
        <th>Experience</th>
        <th>Education</th>
      </thead>
    
        <tr *ngFor="let job of Jobs" >
        
          <td><div style="color:rgba(214, 130, 27, 0.764) ;font-style:italic ;font-size: x-large;" >{{job.company}} </div>  </td>
          <td><div style="color:rgb(51, 207, 155);font-style:italic ;font-size:  large;" > {{job.jobTitle}}</div> </td>
          <td><div style="color:rgb(84, 136, 231) ;font-style:italic ;font-size:  large;" > {{job.salary}}</div> </td>
          <td><div style="color:rgb(255, 0, 136) ;font-style:italic ;font-size:  large;" >{{job.location}} </div> </td>
          <td><div style="color:rgb(164, 50, 190) ;font-style:italic ;font-size:  large;" > {{job.experience}}</div> </td>
          <td><div style="color:rgb(169, 60, 109) ;font-style:italic ;font-size:  large;" >{{job.education}}</div> </td>
          <td><button style="background-color:aquamarine ;" #b value="{{job.company}}" (click) = doThings(b.value)>Open</button> </td>
        
      </tr>
    </table>
    </div>
    </td>
    
    
    </tr>
    
    </table>




   