
<div>
    <!-- Heading Title -->
    <h4 class="app-heading">All Filters:</h4>
    
    <!-- Search Field -->
    <div>
      <div class="filter-wrap">
        <input [(ngModel)]="searchText" placeholder="Filters" class="filter-input">
        <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
      </div>
    </div>
  
    <!-- Clear Link -->
    <div class="clear-selection" title="Click to Clear Selections" (click)="clearSelection()" *ngIf="selected_count">Clear Selection</div>
    
     <!-- Work From Home List -->
     <ul class="Work-list">
      <li *ngFor="let a of work | filter : searchText" class="Work-item"> 
        <input (change)="getSelected()" type="checkbox"
                 
                
                 [(ngModel)]="a.selected"/> 
        <span class="Work-text">{{a.name}}</span>
      </li>
    </ul>
  
    <!-- Experience List -->
    <ul class="Experience-list">
      <li *ngFor="let b of experience | filter : searchText" class="experience-item"> 
        <input (change)="getSelected()" type="checkbox"
                 
               
                 [(ngModel)]="b.selected"/> 
        <span class="experience-text">{{b.name}}</span>
      </li>
    </ul>
  
    <!-- Salary List -->
    <ul class="Salary-list">
      <li *ngFor="let c of salary | filter : searchText" class="salary-item"> 
        <input (change)="getSelected()" type="checkbox"
               
                
                 [(ngModel)]="c.selected"/> 
        <span class="salary-text">{{c.name}}</span>
      </li>
    </ul>
  
     <!-- Education List -->
     <ul class="Education-list">
      <li *ngFor="let d of education | filter : searchText" class="Education-item"> 
        <input (change)="getSelected()" type="checkbox"
               
              
                 [(ngModel)]="d.selected"/> 
        <span class="Education-text">{{d.name}}</span>
      </li>
    </ul>
  
    <!-- Selected Work From Home-->
    <div class="selected-work-wrap">
      <div class="selected-work" *ngFor="let a of selected_work" >
        <span>{{a.name}} <span class="delete-work" (click)="deleteExperience(a.id)" title="Click to delete">X</span></span>
      </div>
  
        <!-- Selected experience-->
    <div class="selected-experience-wrap">
      <div class="selected-experience" *ngFor="let b of selected_experience" >
        <span>{{b.name}} <span class="delete-experience" (click)="deleteExperience(b.id)" title="Click to delete">X</span></span>
      </div>
  
       <!-- Selected salary-->
    <div class="selected-salary-wrap">
      <div class="selected-salary" *ngFor="let c of selected_salary" >
        <span>{{c.name}} <span class="delete-experience" (click)="deleteExperience(c.id)" title="Click to delete">X</span></span>
      </div>
  
    
  
       <!-- Selected education-->
    <div class="selected-education-wrap">
      <div class="selected-education" *ngFor="let d of selected_education" >
        <span>{{d.name}} <span class="delete-experience" (click)="deleteExperience(d.id)" title="Click to delete">X</span></span>
      </div>
  </div>
  </div>