<div style="width: 100%;background-color: rgb(29, 232, 69);">
  <table style="width: 100%">
    <tr style="width: 100%">
      <td style="width:90%">
        <h1> Job Portal</h1>
      </td>
      <td style="width:50%">
          <div>
            Welcome to job Portal
            <br/>
            <table>
             <tr> <td> <a href="#">{{sessionAction}}</a> </td></tr>
            </table>

          </div>
          
      </td>
    </tr>
  </table>
</div>

<app-all-links></app-all-links>
<hr/>


<router-outlet></router-outlet>
